name: Rust

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install ALSA dependencies
        run: sudo apt-get update && sudo apt-get install -y libasound2-dev pkg-config
      
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal

      - name: Cache cargo registry
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-registry-

      - name: Build
        run: cargo build --workspace --all-features --release
      
      - name: Run clippy
        run: cargo clippy --workspace --all-features -- -D warnings

      - name: Run tests
        run: cargo test --workspace --all-features

      - name: cargo fmt check
        run: cargo fmt --all -- --check
